/* ===== NovaTrade Theme ===== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,Helvetica,sans-serif;
}

body{
    background:#0b0e11;
    color:#ffffff;
}

header{
    background:#11161d;
    border-bottom:1px solid #222;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 40px;
    position:sticky;
    top:0;
    z-index:1000;
}

.logo{
    font-size:30px;
    font-weight:bold;
    color:#f0b90b;
}

nav{
    display:flex;
    gap:25px;
}

nav a{
    color:white;
    text-decoration:none;
    transition:.3s;
}

nav a:hover{
    color:#f0b90b;
}

.btn{
    background:#f0b90b;
    color:#111;
    padding:12px 22px;
    border-radius:8px;
    text-decoration:none;
    font-weight:bold;
    transition:.3s;
}

.btn:hover{
    transform:scale(1.05);
}

.hero{
    text-align:center;
    padding:90px 20px;
}

.hero h1{
    font-size:48px;
    color:#f0b90b;
    margin-bottom:20px;
}

.hero p{
    color:#bbb;
    font-size:20px;
    margin-bottom:30px;
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:20px;
    padding:40px;
}

.card{
    background:#161d26;
    border-radius:15px;
    padding:20px;
    text-align:center;
    transition:.3s;
}

.card:hover{
    transform:translateY(-8px);
}

.card h3{
    color:#f0b90b;
    margin-bottom:10px;
}

.price{
    font-size:28px;
    margin-top:15px;
}

.green{
    color:#00c087;
}

.red{
    color:#ff4d4f;
}

footer{
    text-align:center;
    padding:30px;
    color:#888;
}

@media(max-width:768px){

header{
flex-direction:column;
gap:15px;
}

nav{
flex-wrap:wrap;
justify-content:center;
}

.hero h1{
font-size:34px;
}
.trading-panel{
display:flex;
flex-wrap:wrap;
gap:20px;
padding:40px;
}

.chart-box{
flex:2;
background:#161b22;
padding:20px;
border-radius:12px;
}

.chart-placeholder{
height:400px;
background:#0b0e11;
border:2px dashed #f0b90b;
display:flex;
justify-content:center;
align-items:center;
font-size:22px;
color:#888;
border-radius:10px;
}

.trade-box{
flex:1;
background:#161b22;
padding:20px;
border-radius:12px;
}

.trade-box input{
width:100%;
padding:14px;
margin:20px 0;
background:#0b0e11;
color:white;
border:none;
border-radius:8px;
font-size:18px;
}

.buy{
width:100%;
padding:15px;
background:#00c853;
color:white;
border:none;
border-radius:8px;
font-size:20px;
margin-bottom:15px;
cursor:pointer;
}

.sell{
width:100%;
padding:15px;
background:#d50000;
color:white;
border:none;
border-radius:8px;
font-size:20px;
cursor:pointer;
}
}
.coin-selector{
display:flex;
justify-content:center;
gap:10px;
margin:20px;
flex-wrap:wrap;
}

.coin-selector button{
background:#f3ba2f;
border:none;
padding:12px 20px;
border-radius:8px;
cursor:pointer;
font-weight:bold;
}
